@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


*{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}




header{
  background-color: #3e83fa;
  width: 100%;
}




main{
  background-color:#f488d4;
  width: 100%;
}

@keyframes AnimationName {
  0%{background-position:41% 0%}
  50%{background-position:60% 100%}
  100%{background-position:41% 0%}
}

.hero{
  background-image: url("./assets/toon.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 20% 10%;
  border-bottom-right-radius: 20% 7%;
  box-shadow: -2px 2px 2px 5px rgb(125, 119, 134, 0.5);
  margin-bottom: 10px;;
}

.hero_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 35%;
  gap: 10px;
  color: whitesmoke;
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  font-weight: bold;
  max-height: fit-content;
  height: 1rem;;

}


.hero_box{
  text-shadow: #a6a9ff 5px 5px;
 margin-top: 130px;
  display: flex;
  align-items: center;

}

.uil{
  margin-top: 0%;
  font-size:3rem;
  color: #fff;

}






.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: rgba(90, 188, 245, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  z-index:100
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
  color: #3097ea;


}

.logoUp {
  color: rgb(245, 245, 245);
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
/* responsive */
@media screen and (max-width: 2160px) {
  .nav {
    padding: 15px 100px;
    color: #00c4f3 !important;
  }

  .hero_info{
    margin-top: 7%;
    padding: 5%;
  }





}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }



}
@media screen and (max-width: 768px) {

  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }


  .nav {
    padding: 15px 5px;
    justify-content: space-evenly;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #3097ea;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: rgba(245, 245, 245, 0.834);
    font-size: 20px;
    cursor: pointer;
    margin-left: -30%;


  }

    #logo{
      margin-left: -15%;
    }

  .navOpenTop{
    color: #3097ea;
    font-size: 20px;
    cursor: pointer;
    margin-left: -30%;

  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .hero{
    animation: AnimationName 17s ease infinite;
  }

  .hero_info{
    margin-top: 30%;
  }
}

.why_wrapper{
  background-color: rgb(204,220,220);
padding-bottom: 1%;
  height: 100%;
}


.why{

  animation: AnimationName 17s ease infinite;
  background-image: url("./assets/straw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 100%;
  border-bottom-left-radius: 20% 10%;
  border-bottom-right-radius: 20% 7%;
  box-shadow: -5px 5px 5px 0px rgb(125, 119, 134, 0.5);



}

.why_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 10%;

}

.why_info > h1{
  font-size: 5rem;;
  margin-bottom: 50px;
  text-shadow: #00c4f3 5px 5px;
  color:whitesmoke;

}

.card{
  border: 2px solid rgba(70, 133, 243, 0.3);
  background-color: rgba(245, 250, 255, 0.9);
  color: #50b3e8;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  padding: 5%;
}

.card > img {
  max-width: 15rem;;
}

.card > p{
  font-size: medium;
  margin-bottom: 5%;
}


.plce{
  background-color: rgba(255, 50, 228, 0.4);
  height: 100px;
  width: 100px;
}

.howWorks{
  height: 100vh;
}



.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #0092f3;
  z-index: 4;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #0092f3;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #0092f3;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(26, 154, 233);
  color: white;
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-width: 10px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #00c4f3;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgba(255, 143, 244, 0.8);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}


.works_wrapper{
  background-color: #f78da7;;
  padding-bottom: 1%;
}

.howWorks{
  background-image: url("./assets/cone.png");
  color:white;

    /* background: linear-gradient(174deg, #56b3d5, #ee83ff,  #553cdd ); */
  /* animation: AnimationName 27s ease infinite; */
  background-size: cover;
  background-repeat: no-repeat;
background-position:  50% 75%;;
display: flex;
align-items: center;
height: 100%;
border-bottom-left-radius: 20% 10%;
  border-bottom-right-radius: 20% 7%;
  box-shadow: -5px 5px 5px 0px rgb(125, 119, 134, 0.5);
  background-color: #f78da7;


}

.howWorks_info{
  text-align: center;
  margin-top: 20px;;
}


.howWorks_info > h1{
  font-size: 5rem;;
  font-weight: bolder;
  color: whitesmoke;
  text-shadow:  #fe00b6  5px 5px;
}


.contact{

  /* background-image: url("./assets/drop.png");
 background-position: center 0% 0% 25%;
 background-repeat: no-repeat; */
 background-color: #f78da7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-bottom-left-radius: 20% 10%;
  border-bottom-right-radius: 20% 7%;
  box-shadow: -5px 5px 5px 0px rgb(125, 119, 134, 0.5);

}

.contact_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  color: whitesmoke;

}


.contact_info > h1 {
  font-size: 4rem;;
  margin-bottom: 50px;
  text-shadow: #00c4f3 5px 5px;
  color:whitesmoke;
}

.contact_info button {
  width: 20rem;
  height: 4rem;;
  border-radius: 50px 50px 50px 50px;
  color: whitesmoke;
  background-color: #f47091;
  border:1px solid #f78da7;
  box-shadow: #f78da7 25px 25px;;
  margin-bottom: 2px;
}

.contact_info > p {
  margin-top: 5%;
}

footer {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.socials{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.socials li {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.tik{
  margin-top: 1.2rem;
  display: block;
}
